In [6]:
### 1. Import Data
# Load the salary data
import pandas as pd
salary_data = pd.read_csv('Total.csv')
salary_data.info()
salary_data.head()

C:\Users\idehe\AppData\Local\Temp\ipykernel_2932\2049896534.py:4: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  salary_data = pd.read_csv('Total.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312882 entries, 0 to 312881
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      312882 non-null  object
 1   JobTitle          312882 non-null  object
 2   BasePay           312882 non-null  object
 3   OvertimePay       312882 non-null  object
 4   OtherPay          312882 non-null  object
 5   Benefits          312882 non-null  object
 6   TotalPay          312882 non-null  float64
 7   TotalPayBenefits  312882 non-null  float64
 8   Year              312882 non-null  int64
dtypes: float64(2), int64(1), object(6)
memory usage: 21.5+ MB

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,Not Provided,326373.19,326373.19,2011

In [8]:
# Check for duplicate rows
duplicate_rows = salary_data[salary_data.duplicated()]

# Print the duplicate rows
print("Duplicate rows:")
print(duplicate_rows)

Duplicate rows:
Empty DataFrame
Columns: [EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year]
Index: []

In [10]:
# Check if the 'EmployeeName' column is unique
is_name_unique = salary_data['EmployeeName'].is_unique
print(f"Is the 'EmployeeName' column unique? {is_name_unique}")

# Find and print duplicate names if any
if not is_name_unique:
    
    duplicate_names = salary_data['EmployeeName'][salary_data['EmployeeName'].duplicated()]
    print("Duplicate names:")
    print(duplicate_names)

Is the 'EmployeeName' column unique? False
Duplicate names:
43          MICHAEL THOMPSON
359              JOHN MURPHY
435        WILLIAM MCFARLAND
847              SANDRA TONG
864              WILLIAM LEE
                 ...
312877       Daniel W Plautz
312878      David J Thompson
312879    Keiko Weng Yee Lau
312880            David Wong
312881       Debora E Howard
Name: EmployeeName, Length: 182599, dtype: object

In [12]:
### 2. Create Employee Function
##Develop a Python function to accept an employeeâ€™s name and return their details.
def get_employee_details(name):
    try:
        employee = salary_data[salary_data['EmployeeName'] == name].to_dict(orient='records')
        if employee:
            return employee[0]  # Return the first matching employee record
        else:
            return f"Employee named {name} not found."
    except Exception as e:
        return f"An error occurred: {e}"
print(get_employee_details('CHRISTOPHER CHONG'))

{'EmployeeName': 'CHRISTOPHER CHONG', 'JobTitle': 'WIRE ROPE CABLE MAINTENANCE MECHANIC', 'BasePay': 77916.0, 'OvertimePay': 56120.71, 'OtherPay': 198306.9, 'Benefits': 'Not Provided', 'TotalPay': 332343.61, 'TotalPayBenefits': 332343.61, 'Year': 2011}

In [14]:
### 3. Data Processing with Dictionary
## Process the salary data using a Python dictionary and print the first 5 results.

# The 'EmployeeName' Column isn't unique

# Group the salary data by 'EmployeeName'
salary_groups = salary_data.groupby('EmployeeName')
# Process each group into a dictionary
salary_dict = {name: group.to_dict(orient='records') for name, group in salary_groups}

# Print the first 5 resulting dictionary
for i, (name, details) in enumerate(salary_dict.items()):
    if i<5:
        print(f"Employee: {'EmployeeName'}")
        print(details)
        print()
    else:
        break

Employee: EmployeeName
[{'EmployeeName': 'A BERNARD FATOOH', 'JobTitle': "SHERIFF'S PROPERTY KEEPER", 'BasePay': 19969.37, 'OvertimePay': 0.0, 'OtherPay': 70.54, 'Benefits': 'Not Provided', 'TotalPay': 20039.91, 'TotalPayBenefits': 20039.91, 'Year': 2011}]

Employee: EmployeeName
[{'EmployeeName': 'A Bernard  Fatooh', 'JobTitle': "Sheriff's Property Keeper", 'BasePay': '23908.50', 'OvertimePay': 0.0, 'OtherPay': 15.12, 'Benefits': 5455.62, 'TotalPay': 23923.62, 'TotalPayBenefits': 29379.24, 'Year': 2013}]

Employee: EmployeeName
[{'EmployeeName': 'A Bernard Fatooh', 'JobTitle': "Sheriff's Property Keeper", 'BasePay': '18472.35', 'OvertimePay': 0.0, 'OtherPay': 27.84, 'Benefits': 5014.66, 'TotalPay': 18500.19, 'TotalPayBenefits': 23514.85, 'Year': 2012}, {'EmployeeName': 'A Bernard Fatooh', 'JobTitle': "Sheriff's Property Keeper", 'BasePay': 24061.35, 'OvertimePay': 0.0, 'OtherPay': 0.0, 'Benefits': 6091.68, 'TotalPay': 24061.35, 'TotalPayBenefits': 30153.03, 'Year': 2014}, {'EmployeeName': 'A Bernard Fatooh', 'JobTitle': "Sheriff's Property Keeper", 'BasePay': 26896.89, 'OvertimePay': 0.0, 'OtherPay': 0.0, 'Benefits': 6466.82, 'TotalPay': 26896.89, 'TotalPayBenefits': 33363.71, 'Year': 2015}, {'EmployeeName': 'A Bernard Fatooh', 'JobTitle': "Sheriff's Property Keeper", 'BasePay': '25896.17', 'OvertimePay': '0.00', 'OtherPay': '0.00', 'Benefits': '11698.73', 'TotalPay': 25896.17, 'TotalPayBenefits': 37594.9, 'Year': 2016}, {'EmployeeName': 'A Bernard Fatooh', 'JobTitle': "Sheriff's Property Keeper", 'BasePay': 29525.24, 'OvertimePay': 0.0, 'OtherPay': 0.0, 'Benefits': 6713.17, 'TotalPay': 29525.24, 'TotalPayBenefits': 36238.41, 'Year': 2017}, {'EmployeeName': 'A Bernard Fatooh', 'JobTitle': "Sheriff's Property Keeper", 'BasePay': 25232.9, 'OvertimePay': 0.0, 'OtherPay': 0.0, 'Benefits': 6037.79, 'TotalPay': 25232.9, 'TotalPayBenefits': 31270.69, 'Year': 2018}]

Employee: EmployeeName
[{'EmployeeName': 'A ELIZABETH MARCHASIN', 'JobTitle': 'PRINCIPAL CLERK', 'BasePay': 23591.8, 'OvertimePay': 0.0, 'OtherPay': 2691.06, 'Benefits': 'Not Provided', 'TotalPay': 26282.86, 'TotalPayBenefits': 26282.86, 'Year': 2011}]

Employee: EmployeeName
[{'EmployeeName': 'A JAMIL NIAZI', 'JobTitle': 'IS ENGINEER - PRINCIPAL', 'BasePay': 69058.19, 'OvertimePay': 0.0, 'OtherPay': 18438.02, 'Benefits': 'Not Provided', 'TotalPay': 87496.21, 'TotalPayBenefits': 87496.21, 'Year': 2011}]

In [16]:
### 4. Error Handling
##Implement error handling to address potential issues gracefully.

def address_employee_details(name):
    try:
        if not isinstance(name, str):
            raise ValueError("The name must be a string.")
        employee = get_employee_details(name)
        return employee
    except ValueError as ve:
        return f"ValueError: {ve}"
    except Exception as e:
        return f"An unexpected error occurred: {e}"

# Example usage
print(address_employee_details(12345))
print(address_employee_details('idehen eric'))
print(address_employee_details('CHRISTOPHER CHONG'))

ValueError: The name must be a string.
Employee named idehen eric not found.
{'EmployeeName': 'CHRISTOPHER CHONG', 'JobTitle': 'WIRE ROPE CABLE MAINTENANCE MECHANIC', 'BasePay': 77916.0, 'OvertimePay': 56120.71, 'OtherPay': 198306.9, 'Benefits': 'Not Provided', 'TotalPay': 332343.61, 'TotalPayBenefits': 332343.61, 'Year': 2011}

In [18]:
### 5. Export Employee Details
## Export an employee's details to a CSV file and zip it into a folder named "Employee Profile."

import os
import csv
import zipfile

def export_employee_details(EmployeeName):
    employee = get_employee_details(EmployeeName)
    if isinstance(employee, str):
        print(employee)
        return

    if not os.path.exists('Employee Profile'):
        os.makedirs('Employee Profile')

    file_path = f"Employee_Profile/{'CHRISTOPHER_CHONG'}_details.csv"
    with open(file_path, mode='w', newline='') as file:
        writer = csv.DictWriter(file, fieldnames=employee.keys())
        writer.writeheader()
        writer.writerow(employee)
    
    with zipfile.ZipFile('Employee_Profile.zip', 'w') as zipf:
        zipf.write(file_path, os.path.basename(file_path))

# Example usage
export_employee_details('CHRISTOPHER CHONG')
print(export_employee_details('CHRISTOPHER CHONG'))

None